* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  
}

body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items:center;
  flex: 1;
}

#content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
}

#controls {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black ;
  box-shadow: 10px 10px 10px gray;
}

.btn {
  padding: 1%;
  font-weight: bolder;
}

#add-book-btn {
  margin: 1%;
}

#shelf {
  width: 100%;  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1%;
}

#shelf::after {
  content: "";
  flex: auto;
}

.card {
  display: flex;
  flex-basis: 23%;
  border: 1px solid black;
  background-color: plum;
  box-shadow: 10px 5px 5px gray;
  margin: 1%;
  padding: .5%;
}

.card-details {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1;
    gap: 1rem;
    font-size: 1.5rem;
}

.card-details > * {
  /* border: 1px solid red; */
  /* gap:; */
}

.card-details > * > * {
  /* border: 1px solid blue; */
  gap: 1%;
}

.title {
  font-size: 2rem;
  overflow-wrap: anywhere;
  width: 100%;
}

.author {
  font-size: 1.5rem;
}

.read-status {
  cursor: pointer;
  user-select: none;
  align-self: flex-end;
  /* border: 1px solid blue; */
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 2%;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
  }

/* The Close Button */
.close {
  color: #aaa;
  font-size: 2rem;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

form input, textarea {
  background-color: plum;
  border: unset;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
}
 
textarea {
  resize: none;
  min-height: 2.5rem;
  max-height: 9.1rem;
}

input.pages {
  max-width: 6rem;
}

.read input {
  height: 1.5rem;
  width: 1.5rem;
}

input:focus, textarea {
  outline: none;
}